.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home .home-container .home-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: solid 1px #41403e;
  margin: 10px;
  margin-top: 100px;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 450ms;
  background-color: #ededed;
}
.home-container .home-main .home-title {
  color: #000;
}

.home-container .home-main:hover {
  transform: scale(1.08);
  color: #3f53eb;
}
.home-container .home-main .home-searchIcon {
  margin-right: 10px;
  font-size: 45px !important;
  color: #000;
}
.home-container .home-main .home-searchIcon:hover {
  color: #ccabeb;
}
