.header-container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  text-decoration: none;
}
.header-container .header-container-left {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}
.header-container .header-container-left .header-mainTitle {
  color: #000;
  text-decoration: none;
}
.header-container .header-container-left .header-logo {
  margin-left: 20px;
  margin-right: 10px;
  height: 70px;
  cursor: pointer;
}
.header-container .header-container-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.header-container .header-container-right .header-profile {
  display: flex;
  align-items: center;
  border-bottom: solid 2px #41403e;
}
.header-container
  .header-container-right
  .header-profile
  .header-profile-title {
  font-size: 1rem;
  color: #000;
}
.header-container
  .header-container-right
  .header-profile
  .header-profile-title:hover {
  color: #2a3dd0;
}
.header-container .header-container-right .header-profile .lock-icon-logo {
  font-size: 2.3rem !important;
  color: #000 !important;
}

.header-container .header-container-right .person-icon-logo {
  font-size: 2rem !important;
  color: #000 !important;
}

.header-container
  .header-container-right
  .header-profile
  .person-icon-logo:hover {
  color: #2a3dd0 !important;
}
.header-container .header-container-right .header-logout {
  cursor: pointer;
  font-size: 1rem;
  display: flex;
}
.header-container .header-container-right .header-logout:hover {
  color: #2a3dd0;
}
