.main-github {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  margin-top: 40px;
}
.main-github .main-github-container {
  display: flex;
  flex-direction: column;
  border-top: solid 2px #41403e;
  border-bottom: solid 2px #41403e;
  border-radius: 10px;
  padding: 20px;
}
.main-github .main-github-container .main-github-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
  transition: transform 450ms;
}

.main-github .main-github-container .main-github-form:hover {
  transform: scale(1.08);
  color: #3f53eb;
}

.main-github .main-github-container .main-github-form .main-github-form-input {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5%;
  border: 1px solid lightgray;
}
.main-github .main-github-container .main-github-form .main-github-form-btn {
  background-color: #edf54c;
  border: none;
  border-radius: 2px;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
}
.main-github .main-github-container .main-github-p {
  padding: 20px 20px 5px 20px;
  color: black;
}
.main-github .main-github-profileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-github .main-github-profileCard .main-github-logo {
  height: 150px;
  margin-bottom: 10px;
  object-fit: contain;
  border-radius: 10px;
}
.main-github .main-github-profileCard .main-github-cardItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-github
  .main-github-profileCard
  .main-github-cardItems
  .main-github-cardItem {
  display: flex;
  margin-top: 10px;
  margin-left: 25px;
}
.main-github
  .main-github-profileCard
  .main-github-cardItems
  .main-github-cardItem1 {
  display: flex;
  margin-top: 10px;
  font-weight: 800;
}
.main-github .main-github-profileCard .main-github-cardItems p {
  margin-left: 10px;
}
.main-github a {
  text-decoration: none;
}
